<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CloudStructures" version="1.1.0" targetFramework="net451" />
  <package id="Jil" version="2.10.0" targetFramework="net451" />
  <package id="mongocsharpdriver" version="2.0.0" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.0.0" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.0.0" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.0.0" targetFramework="net451" />
  <package id="Sigil" version="4.4.0" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.450" targetFramework="net451" />
  <package id="Z.ExtensionMethods" version="2.0.4" targetFramework="net451" />
</packages>