<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ServerLib.ServerService">
        <endpoint address="http://localhost:8732/ServerService"
              binding="webHttpBinding"
              contract="ServerLib.IServerService"/>
      </service>

      <service name="ServerLib2.ServerService2">
        <endpoint address="http://localhost:8732/ServerService2"
              binding="webHttpBinding"
              contract="ServerLib2.IServerService2"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>