<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CloudStructures" version="1.0.0" targetFramework="net451" />
  <package id="Jil" version="2.7.2" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="NLog.Config" version="3.2.0.0" targetFramework="net451" />
  <package id="NLog.Schema" version="3.2.0.0" targetFramework="net451" />
  <package id="Sigil" version="4.4.0" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.394" targetFramework="net451" />
  <package id="Z.ExtensionMethods" version="1.4.3.0" targetFramework="net451" />
</packages>