<?xml version="1.0"?>
<configuration>
  <!--<system.serviceModel>
    <services>
      <service name="ServerLib.ServerService">
        <endpoint address="http://localhost:8732/ServerService"
              binding="webHttpBinding"
              contract="ServerLib.IServerService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>-->
</configuration>